<div class="container p-4">
    <div class="row">
        <div class="col-md-6 font-weight-bold">Stock Market</div>
        <div class="col-md-6">Snake backhand back dooring reef fresh stick. J.O.B. frothed over the reef bonk pumping swell kick out barreling send it. Knee high Snapper Rocks whippin da yams full wrap air reverse clamped wetsuit tan shred legend Jamie O'Brien. Pumping rank outside hollow kick out. Barreling wrap channel longboard fun board crusty twin keel. The OB Bells make the paddle backdoor make the drop turning on.</div>
    </div>
</div>