   
<div class="container">
    <canvas id="myChart"></canvas>
</div>
   
<script>
var ctx = document.getElementById('myChart');

function getTodos() {
    axios
      .get("http://localhost:3000/companies?_page=1&_limit=6")
      .then(res => {
            let companiesArray = [];
            res.data.map((item)=>{
            companiesArray.push(item);
            console.log(companiesArray);});

    console.log(companiesArray[4].value);
            
    let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['01/01/20', '01/02/20', '01/03/20', '01/04/20', '01/05/20', '01/06/20'],
        datasets: [{
            label: `${companiesArray[1].name}`,
            data: [companiesArray[0].value, companiesArray[1].value, companiesArray[2].value, companiesArray[3].value, companiesArray[4].value, companiesArray[5].value],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: `${companiesArray[3].name}`,
            data: [60033, 50033, 80333, 70333, 50333, 10333],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(255, 159, 64, 0.6)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
        display:true,
        text:'Companies Prices',
        fontSize:22
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
        })
      .catch(err => console.error(err))      
};

getTodos();
</script>