<div class="container">
<div class="row">
{{#each companies}}
<div class="card col-md-2 my-4 mr-4" style="width: 28rem;">
  <img src="{{this.item_logo}}" class="card-img-top" alt="logo">
  <div class="card-body">
    <div class="card-title font-weight-bold">{{this.item_name}}</div>
    <p class="card-text">{{this.item_description}}</p>
  </div>
</div>
{{/each}}
</div>
</div>