<div class="card mx-auto my-4" style="width: 38rem;">
  <img src="assets/nodejs.png" class="card-img-top" alt="logo">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


