
<div class="container my-4">
  <h2>Search</h2>
  <div class="input-group mb-3">
    <input id="inpSch" type="text" class="form-control" placeholder="Write a company">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" id="btnSch">Search</button>
    </div>
  </div>
  
  <h3 class="my-4">Results</h3>
  
  <div id="results" class="row d-none">
  <div class="card col-md-6" style="width: 18rem;">
    <img  id="logo" src="" class="card-img-top" alt="">
    <div class="card-body">
      <div id="itemName" class="card-title"></div>
      <p id="itemDescription" class="card-text"></p>
    </div>
  </div>
    
  <div class="card col-md-6" style="width: 18rem;">
      <div>
        <canvas id="myChart"></canvas>
      </div>
  </div>
  </div>
</div>

<script>
var btnSch = document.getElementById('btnSch');
var results = document.getElementById('results');
var ctx = document.getElementById('myChart');

btnSch.addEventListener('click', showResults);

// Search Validations 
function showResults() {
  var inpSch = document.getElementById('inpSch').value;
  if(inpSch === "google", "facebook", "apple", "oracle", "microsoft"){
    getTodos();
    results.classList.remove('d-none'); 
  } if(inpSch === ""){
    alert('Please write a item or company!');
  }
};

function getTodos() {
    var inpSch = document.getElementById('inpSch').value;
    
    axios
      .get("http://localhost:3000/companies?_page=1&_limit=6")
      .then(res => {
            var companiesArray = [];
            res.data.map((item)=>{
            companiesArray.push(item);
            });
    
    // Change data of company card and chartjs with search input
    var logo = document.getElementById('logo');
    var itemName = document.getElementById('itemName');
    var itemDescription = document.getElementById('itemDescription');
    var companyName = ""; 
    var companyValue = 0;

    if(inpSch === "google") {
      logo.src = companiesArray[0].logo;
      itemName.innerText = companiesArray[0].name;
      itemDescription.innerText = companiesArray[0].title;
      var companyName = companiesArray[0].name;
      var companyValue = companiesArray[0].value;
    }
    if(inpSch === "facebook") {
      logo.src = companiesArray[1].logo;
      itemName.innerText = companiesArray[1].name;
      itemDescription.innerText = companiesArray[1].title;
      var companyName = companiesArray[1].name;
      var companyValue = companiesArray[1].value;
    } 
    if(inpSch === "apple") {
      logo.src = companiesArray[2].logo;
      itemName.innerText = companiesArray[2].name;
      itemDescription.innerText = companiesArray[2].title;
      var companyName = companiesArray[2].name;
      var companyValue = companiesArray[2].value;
    } 
    if(inpSch === "oracle") {
      logo.src = companiesArray[3].logo;
      itemName.innerText = companiesArray[3].name;
      itemDescription.innerText = companiesArray[3].title;
      var companyName = companiesArray[3].name;
      var companyValue = companiesArray[3].value;
    } 
    if(inpSch === "microsoft") {
      logo.src = companiesArray[4].logo;
      itemName.innerText = companiesArray[4].name;
      itemDescription.innerText = companiesArray[4].title;
      var companyName = companiesArray[4].name;
      var companyValue = companiesArray[4].value;
    }
            
    let myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['01/01/20', '01/02/20', '01/03/20', '01/04/20', '01/05/20', '01/06/20'],
        datasets: [{
            label: companyName,
            data: [companyValue, companiesArray[1].value, companiesArray[2].value, companiesArray[3].value, companiesArray[4].value, companiesArray[5].value],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
        display:true,
        text:'Company Price',
        fontSize:22
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
        })
      .catch(err => console.error(err))      
};
</script>